.font-lato {
  font-family: 'Lato', 'Muli', 'Montserrat', sans-serif;
}

.font-muli {
  font-family: 'Muli', 'Montserrat', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', 'Roboto', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.bg-tint-purple {
  background-color: #392850;
}

.bg-tint-purple-shallow {
  background-color: #453657;
}
